@media only screen and (max-width: 1600px) {
  /* */

  .blog__title {
    font-size: 27px;
  }
  
  .blog__subtitle {
    font-size: 20px;
  }

  .info__box__ico img{
    width: 70px;
  }

  .info__boxes {
    margin: 0 120px;
  }

  .info__box__title {
    font-size: 11px;
  }

  .info__box__text {
    font-size: 10px;
  }

  .rules__content {
    max-width: 700px;
  }

  .wiki__content {
    max-width: 700px;
  }
}
@media only screen and (max-width: 1200px) {
    /* */

    .blog__title {
      font-size: 27px;
    }

    .info__boxes {
      margin: 0 100px;
    }

    .info__box__ico img{
      width: 70px;
    }

    .info__box__title {
      font-size: 11px;
    }

    .info__box__text {
      font-size: 10px;
    }

    .rules__content {
      max-width: 500px;
    }

    .rules__content h1{
      font-size: 22px;
    }

    .wiki__content {
      max-width: 500px;
    }

    .wiki__content h1{
      font-size: 22px;;
    }
    .demo__video {
      width: 400px;
  }
  }


@media only screen and (max-width: 992px) {
    /* */
    .header__inner {
      justify-content: space-around;
    }
    .burger__menu {
      display: block;
    }
    .nav {
      display: none;
    }

    .blog__title {
      font-size: 22px;
    }
    
    .info__boxes {
      flex-direction: column;
      justify-content: space-between;
      padding: 0;
      margin: 0;
    }

    .info__box {
      margin: 50px auto;
      width: 700px;
      height: auto;
    }

    .info__box__ico img{
      width: 100px;
    }

    .info__box__title {
      font-size: 20px;
    }

    .info__box__text {
      font-size: 16px;
    }
    
    .wiki__item {
      position: relative;
      justify-content: center;
    }
    .wiki__boxes {
      flex-direction: column;
      align-items: center;
    }

    .rules__item {
      position: relative;
      justify-content: center;
    }
    .rules__boxes {
      flex-direction: column;
      align-items: center;
    }

    .wiki__theme {
     width: 700px; 
    }

    .rules__theme {
        width: 700px; 
    }

    .wiki__main {
      padding-top: 50px;
    }
    .rules__content {
      max-width: 700px;
    }

    .rules__content h1{
      font-size: 18px;
    }
    
    .wiki__content {
      max-width: 700px;
    }
    
    .wiki__content h1{
      font-size: 18px;
    }
    .demo__video {
      width: 500px;
  }
  }
  
  /* Small Devices, Tablets */
  @media only screen and (max-width: 768px) {
    /* */
    .header__inner {
      justify-content: space-around;
    }
    .burger__menu {
      display: block;
    }

    .nav {
      display: none;
    }

    .blog__title {
      font-size: 16px;
    }
    
    .blog__subtitle {
      font-size: 16px;
    }

    .info__boxes {
      flex-direction: column;
      justify-content: space-between;
      padding: 0;
      margin: 0;
    }

    .info__box {
      margin: 50px auto;
      width: 600px;
      height: auto;
    }

    .info__box__ico img{
      width: 100px;
    }

    .info__box__title {
      font-size: 20px;
    }

    .info__box__text {
      font-size: 16px;
    }

    .rules__content {
      max-width: 500px;
      font-size: 16px;
    }

    .rules__content h1{
      font-size: 14px;
    }

    .wiki__content {
      max-width: 500px;
      font-size: 16px;
    }

    .wiki__theme {
      width: 500px; 
     }

     .rules__theme {
      width: 500px; 
  }
    
    .wiki__content h1{
      font-size: 14px;
    }
    .demo__video {
      width: 400px;
  }
  }
  
  /* Extra Small Devices, Phones */
  @media only screen and (max-width: 480px) {
    /* */

    .flex__burger {
      display: block;
    }
    .hamburger-menu {
      display: block;
    }

    .nav {
      display: none;
    }

    .blog__title {
      font-size: 10px;
    }
    
    .blog__subtitle {
      font-size: 12px;
    }

    .info__boxes {
      flex-direction: column;
      justify-content: space-between;
      padding: 0;
      margin: 0;
    }

    .info__title {
      font-size: 16px;
      text-align: center;
    }

    .info__box {
      margin: 20px auto;
      width: 300px;
      height: auto;
    }

    .info__box__ico img{
      width: 60px;
    }

    .info__box__title {
      font-size: 16px;
    }

    .info__box__text {
      font-size: 10px;
    }

    .connect__buttons img {
      width: 12px;
    }

    .button__item {
      font-size: 10px;
    }

    .rules__content {
      max-width: 350px;
    }

    .rules__content h1{
      font-size: 14px;
    }

    .wiki__content {
      max-width: 350px;
    }
    
    .wiki__theme {
      width: 350px;
    }

    .rules__theme {
      width: 350px; 
  }

    .wiki__content h1{
      font-size: 14px;
    }

    .voice__chat__mod {
      margin: 5px 10px;
      padding: 5px 25px;
    }

    .WT__img {
      width: 250px;
    }

    .SVC__img {
      width: 250px;
    }
    .demo__video {
      width: 250px;
  }
  }
  
  /* Custom, iPhone Retina */
  @media only screen and (max-width: 320px) {
    /* */
  }