::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #5e5e5e;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
    background: #939393;
    border-radius: 8px;
    border: 3px solid #5e5e5e;
}

::-webkit-scrollbar-thumb:hover {
    background: #939393;
}

body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: rgb(70, 69, 69);
    -webkit-font-smoothing: antialiased;
    background-color: #282828;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

p {
    margin: 0 0 10px;
}

/* Container
===================*/

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.container__animated {
    position: relative;
    background-color: #1a1a1a;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    width: 100%;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

/* Header
===================*/
.logo {
    width: 50px;
    height: 50px;
    opacity: 1;
    transition: opacity .1s linear; 
    border-radius: 10px;
    background-color: #1a1a1a80;
}
    .logo:hover {
        opacity: 0.9;
    }

.header {
    align-items: center;
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.is_scrolled .header{
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7px);
    border-radius: 0px 0px 30px 30px;
    transition: 1s;
}

.is_scrolled .header::after {
    background-color: #5e5e5e00;
    transition: 1s;
}

.header__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.header__logo {
    padding-top: 209;
    width: 385;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

/* Nav
===================*/
.nav {
    color: #fff;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    justify-content: space-around;
    align-items: center;
}

.nav img {
    width: 20px;
    filter: invert(1);
}

.nav__link {
    font-family: 'Montserrat', sans-serif;
    margin-left: 25px;

    color: #fff;
    text-decoration: none;
    opacity: .75;

    transition: opacity .1s linear;
    transition: scale .3s linear;
}

.nav__selected {
    color: #fff;
    margin-left: 25px;
    text-decoration: none;
    opacity: 1;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
    scale: 1.1;
    transition: 0.5s;
}

/* Burger
=================*/

.burger__menu {
    display: none;
}
.toggle {
    filter: invert(1);
}
#toggle{
    visibility: hidden;
    opacity: 0;
    position: relative;
    z-index: -1;
  }
  
  #toggle:checked ~ dialog {
    display: block;
  }
  
  label{
    color: white;
    padding: .5em 1em;
    border-radius: 4px;
  }
  @keyframes appear {
    0%{
      opacity: 0;
      transform: translateY(-10px);
    }
  }
  
  dialog{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 50px;
    animation: appear 350ms ease-in 1;
    width: 90%;
    height: auto;
  }
  
  .flex__burger {
    display: block;
    justify-content: space-between;
    align-items: center;
  }
  .menu__first {
    padding: 0 30px;
    padding-bottom: 15px;
    background-color: rgb(43, 43, 43);
    border-radius: 30px;
    border: solid 2px #fff;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
  }

  .menu__second {
    padding: 0 30px;
    padding-bottom: 15px;
    background-color: rgb(43, 43, 43);
    border: solid 2px #fff;
    border-radius: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
  }

  .menu__link {
    padding-top: 20px;
    font-weight: 600;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
  }

  .menu__link img {
    align-items: center;
    filter: invert(1);
    width: 16px;
    margin-right: 10px;
  }

/* join boxes
=============================*/

.join__main {
    padding-top: 150px;
    margin: 0 120px;
}

.join__boxes {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.join__item {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 80px;
    margin: 0 25px;
}

.join__theme {
    height: auto;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.100);
    padding: 15px 15px;
    border-radius: 20px;
}

.join__content {
    font-size: 18px;
    color: rgb(199, 199, 199);
    height: auto;
    max-width: 1500px;
    min-width: 300px;
    background-color: rgba(0, 0, 0, 0.100);
    padding: 15px 50px;
    border-radius: 20px;
    font-weight: 400;
    text-indent: -30px;
}

.join__content p{
    padding-top: 10px;
}

.join__content h1{
    font-size: 30px;
    font-weight: 700;
    color: #7683d9;
}

.join__content h2{
    font-weight: 600;
    color: #fff;
}

.join__content h3 {
    color: rgba(255, 40, 40, 0.8);
    font-weight: 700;
    font-size: 30px;
}

.join__content h4 {
    font-size: 14px;
}

.join__content a {
    text-decoration: underline;
    color: #fff;
}

.join__content span {
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
}

.join__content pun {
    color: rgba(255, 40, 40);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
}

.join__category {
    height: auto;
    width: 300px;
    max-width: 300px;
}

/* join nav
===================*/

.join__theme__nav {
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 700;
    align-items: flex-start;
}

.join__nav__1 {
    font-family: 'Montserrat', sans-serif;
    margin-left: 25px;

    color: rgb(255, 255, 255);
    text-decoration: none;
    opacity: .75;

    transition: opacity .3s linear;
}

.join__nav__1:hover {
    opacity: 1;
    transition: 0.2s;
}

.join__selected {
    font-family: 'Montserrat', sans-serif;
    margin-left: 25px;

    color: #00c3ff;
    text-decoration: none;
}

.join__punishments {
    font-family: 'Montserrat', sans-serif;
    margin-left: 25px;
    margin-top: 20px;
    font-size: 18px;
    color: #ff0000;
    text-decoration: none;
}

/*Footer
====================*/

.footer {
    margin-top: auto;
    padding: 65px;
    background-color: #1a1a1a;
}

.footer__boxes {
    display: flex;
    justify-content: space-between;
}

.footer__title {
    color: #fff;
}

.footer__creator {
    color: #fff;
}

.footer__creator a {
    color: #fff;
    text-decoration: underline;
    float:right;
    margin-left: 5px;
}


/* LATER
====================*/
.later {
    height: auto;
    width: auto;
    margin: 340px 0;
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    
    transition: 2s;
}

.later h1:hover {
    color: rgb(255, 255, 255);
    
    transition: 2s;
}